<%= form_for(@soiree) do |f| %>
  <% if @soiree.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@soiree.errors.count, "error") %> prohibited this soiree from being saved:</h2>

      <ul>
      <% @soiree.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form">
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :date_event %><br>
    <%= f.date_select :date_event %>
  </div>

  <div class="field">
    <%= f.label :picture %><br>
    <%= f.text_field :picture %>
  </div>
  <div class="field">
    <%= f.label :time_event %><br>
    <%= f.time_select :time_event %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
