<p id="notice"><%= notice %></p>


<div class="main">
  <h1> <span>Iboat |</span> Agenda </h1>

    <div class="wrapper">
    <% @soirees.each do |soiree| %>
          <div class="soirees">
              <p class="title_soiree"><%= soiree.title %></p>
              <p class="date_soiree"><%= soiree.date_event %></p>
              <p class="price_soiree"><%= soiree.price %> €</p>
              <div class="button button_show"><%= link_to 'Voir', soiree %></div>
              <div class="button"><%= link_to 'Modifier', edit_soiree_path(soiree) %></div>
              <div class="button"><%= link_to 'Supprimer', soiree, method: :delete, data: { confirm: 'Êtes-vous sûr(e) ?' } %></div>
            </div>
    <% end %>
    </div>


      </table>
      <br>

      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-5 col-md-4">
            <div class="new">
              <div class="button">
                <%= link_to 'Ajouter une nouvelle soirée', new_soiree_path %>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
