<p>
  <strong>Nom :</strong>
  <%= @soiree.title %>
</p>

<p>
  <strong>Date :</strong>
  <%= @soiree.date_event %>
</p>

<p>
  <strong>Image</strong>
  <%= @soiree.picture %>
</p>

<p>
  <strong>Heure :</strong>
  <%= @soiree.time_event %>
</p>

<p>
  <strong>Prix :</strong>
  <%= @soiree.price %>
</p>

<p>
  <strong>Description :</strong>
  <%= @soiree.description %>
</p>

<%= link_to 'Modifier', edit_soiree_path(@soiree) %> |
<%= link_to 'Retour', soirees_path %>
